# brew install graphviz
# export C_INCLUDE_PATH=$(brew --prefix graphviz)/include
# export LIBRARY_PATH=$(brew --prefix graphviz)/lib
# pip install pygraphviz

jupyter
numpy
pandas
scipy
scikit-learn
# ortools
ipykernel
# selenium
playwright>=1.43.0
fake_useragent
openai
tiktoken
python-dotenv
atproto
pillow
pygraphviz
markdown
umap-learn
matplotlib
ratelimit
yapf
# alpha-vantage
newsapi-python
trafilatura
langchain
langchain-community
langchain-core
# local models
# langchain-huggingface
# langchain-nomic
langchain-openai
langchain-anthropic
langchain-text-splitters
langchainhub
langgraph-checkpoint-sqlite
langgraph
chromadb
protobuf
pyperclip
# newscatcher
podcastfy
google-api-python-client
google-auth-httplib2
google-auth-oauthlib


